<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="KO_Demo::demo"
            title="KO Demo"
            translate="title"
            module="Magento_Sales"
            sortOrder="50"
            resource="KO_Demo::demo"
        />

        <add
            id="KO_Demo::test1"
            title="Demo 1"
            translate="demo1"
            module="KO_Demo"
            sortOrder="10"
            parent="KO_Demo::demo"
            action="ko_demo/index/index"
            resource="KO_Demo::demo"
        />
    </menu>
</config>
